{
  "plugins": [
    [
      "react-hot-loader/babel"
    ],
    [
      "@babel/plugin-proposal-object-rest-spread"
    ],
    [ "import",
      {
        "libraryName": "antd-mobile",
        "style": "css"
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-syntax-class-properties",
    "transform-class-properties"
  ],
  "presets": [
    "@babel/preset-react"
  ]
}