{
  "parser": "babel-eslint",
  "extends": ["react-app", "plugin:prettier/recommended", "prettier/react"],
  "globals": {
    "window": true,
    "__DEV__": true,
    "__PROD__": true,
    "__TEST_ENV__": true,
    "__MASTER_ENV__": true,
    "parent": true,
    "DEPLOY_ENV": true
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "no-restricted-globals": [
      "error",
      {
        "name": "parent",
        "message": "Use local parameter instead."
      },
    ],
    "no-unused-vars": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": ["error", "single"],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "semi": ["error", "always"]
  }
}
