.exchangeModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 750px;
  height: 1600px;
  background: url('../images/bg.jpg') repeat-y;
  background-size: cover;
  overflow: hidden;
}

.tipMessage {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 56px;
  letter-spacing: 0;
  color: #e9c267;
  margin: 30px;
  text-align: left;
}

.from {
  position: absolute;
  top: 186px;
  left: 36px;
  width: 680px;
  height: 285px;
  border: 1px solid #fff9eb;
}

.zoneServerPicker {
  width: 100%;
  height: 95px;
  border-bottom: 1px solid #fff9eb;
}

.roleName {
  width: 100%;
  height: 95px;
  border-bottom: 1px solid #fff9eb;
}

.roleId {  width: 100%;
  height: 95px;
}

.formStyleComponent {
  position: absolute;
  top: 186px;
  width: 679px;
  left: 36px;
  :global {

    .submit-btn {
      background-image: url('../images/submit-btn.png');
      width: 345px;
      height: 136px;
      background-size: cover;
      position: absolute;
      top: 425px;
      left: 164px;
    }

    .am-list-body {
      background: transparent;
      border-bottom: none;
      .am-input-control {
        input {
          color: #fff9eb;
        }
      }
      .am-list-item {
        background: transparent;
        height: 94px;
        .am-list-line {
          border: none;
        }
        .am-list-line:after {
          background: none !important;
        }
        .am-list-extra {
          flex-basis: 10%;
        }
        .am-list-content {
          color: #fff9eb;
        }
      }
    }
    .am-list-body:after {
      background: none !important;
    }
  }
}
